@model Kutse_App.Models.Guest

@{
    ViewBag.Title = "Aitäh";
}
<div>
    <p> Tänan sind, @Model.Nimi </p>

</div>
<div>
    @if (Model.WillAttend == true)
    {
        @:Ootame sind kallis sõber!
        <p>
            <br />
            <img src="~/Images/kutse.jpg" />
        </p>
        using (Html.BeginForm("Meeldetuletus", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Nimi)
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.Telefon)
            @Html.HiddenFor(m => m.WillAttend)
            <input type="submit" value="Meeldetuletus" name="Meeldetuletus" />
        }
    }
    else
    {
        @:Väga kurb uudis. Näeme hiljem!
        <p>
            <br />
            <img src="~/Images/kutse2.jpg" />
        </p>
    }
    <br />
    @ViewBag.Message @*ViewBag.Message - отчет об отправке письма с приглашением*@
</div> 